.links-container {
  background-color: white;
  width: 100%;
  padding: 2px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  border-top: 4px solid #9f496e;
}

.nav-item:nth-child(2) {
  margin-left: 2%;
}

.nav-item:nth-child(1) {
  margin-left: 7%;
  padding-right: 10em;
}

.nav-item:nth-child(7) {
  padding-left: 10em;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.nav-toggle {
  visibility: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #141c3a;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

body,
button,
input,
select,
textarea {
  font-family: 'Raleway', sans-serif;
}

a {
  color: #9f496e;
  text-decoration: none;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

.preloader {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
  z-index: 999;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

.hero-section {
  width: 100vw;
  height: 130vh;
  background: #293241;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
}

.hero-content h1 {
  font-size: 8em !important;
  padding-bottom: 0.2;
}

.hero-content h2 {
  font-size: 1.5em;
}

.stack {
  padding: 2rem;
  margin-top: -15rem;
}

.stack-container {
  width: 84vw;
  height: 120vh;
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid white;
  border-radius: 12px;
  z-index: 2;
  background-color: white;
  color: #293241;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.box {
  padding: 2rem;
  text-align: center;
  border: 1px solid #f2f5fb;
  border-radius: 12px;
  color: #141c3a;
}

.box p,
.box ul {
  color: #454c63;
  font-weight: 400;
  font-size: 18px;
}

.box h2,
.box p,
.box ul {
  padding-bottom: 1rem;
}

.project-container {
  padding: 5%;
  text-align: center;
  margin-top: 3em;
}

.grid {
  width: 80vw;
  height: 85vh;
  margin: 0 auto;
  margin-top: 5rem;
}

.project-image {
  display: block;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item {
  padding: 0.5rem 0.2rem;
  border: 1px solid black;
  border-radius: 12px;
}

.description {
  font-family: "Unica One", sans-serif;
  font-size: 1.25rem;
  position: absolute;
  display: block;
  right: 2rem;
  left: 2rem;
  text-align: center;
  top: 50%;
  width: 60px;
  margin: auto;
  color: white;
  z-index: 100;
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: .3s 0s;
  transition: .3s 0s;
}

.item:hover .description {
  opacity: 1;
  -webkit-transition: .6s .3s;
  transition: .6s .3s;
}

.subhead {
  padding-bottom: 0rem;
}

.icon {
  padding: 2rem 1rem 2rem 1rem;
}

.fa-cog {
  color: #7510f7;
}

.is-primary {
  color: #7510f7 !important;
}

.is-spaced {
  padding-bottom: 2rem !important;
}
/*# sourceMappingURL=main.css.map */