@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    font-family: "Noto Sans",sans-serif;
    line-height: 0.5;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  //  height: 100%;
   min-height: calc(100vh - 60px);
}

section {
  width: 100vw;
  height: 100vh;
}

.navbar {
  background-color: $secondary-color;
  color: #fff;
  width: 30rem;
  padding: 22px;
  list-style: none;
  position: absolute;
  right: 35%;
  top: 20px; 
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.text-secondary {
  color: $secondary-color;
}

.hero-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  background: $secondary-color;
}

.hero-inner {
  color: #fff;
  padding: 35px;
  margin-top: 10rem;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 50%;

}


@import "mobile";
