//--------Utilities-------//
@import "./helpers/mixins";
@import "./helpers/variables";

//--------Navbar---------//
@import "./components/navigation";

//----------Grids---------//
@import "./layout/grid";

//-------------Responsive-------//
@import "./helpers/mobile";

*,
*:before, 
*:after {
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #141c3a;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

body,
button, 
input, 
select, 
textarea {
  font-family: 'Raleway', sans-serif;;
}

a {
  color: $link-color ;
  text-decoration: none;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

//--------------------------- Preloader -----------------------------//
.preloader {
  @include easeOut;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

//-------------------Hero Section-----------------//

.hero-section {
  width: 100vw;
  height: 130vh;
  background: $secondary-color;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
  
  h1 {
    font-size: 8em !important;
    padding-bottom: 0.2;
  }

  h2 {
    font-size: 1.5em; 
  }
}

//-----------------------Technology Stack ----------------------//

.stack {
  padding: 2rem;
  margin-top: -15rem;
}

.stack-container {
  width: 84vw;
  height: 120vh;
  margin-left: 5rem;
  display: flex;
  border: 2px solid white;
  border-radius: 12px;
  z-index: 2;
  background-color: white;
  color: $secondary-color;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.box {
  padding: 2rem;
  text-align: center;
  border: 1px solid #f2f5fb;
  border-radius: 12px;
  color: #141c3a;

  p,
  ul {
    color: #454c63;
    font-weight: 400;
    font-size: 18px;
  }

  h2,
  p,
  ul {
    padding-bottom: 1rem;
  }
}

//-------------------------Projects---------------------//

.project-container {
  padding: 5%;
  text-align: center;
  margin-top: 3em;
}

.grid {
  width: 80vw;
  height: 85vh;
  margin: 0 auto;
  margin-top: 5rem;
}

.project-image {
  display: block;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}

.item {
  padding: 0.5rem 0.2rem;
  border: 1px solid black;
  border-radius: 12px;
}

.description {
  font-family: "Unica One", sans-serif;
  font-size: 1.25rem;
  position: absolute;
  display: block;
  right: 2rem;
  left: 2rem;
  text-align: center;
  top: 50%;
  width: 60px;
  margin: auto;
  color: white;
  z-index: 100;
  opacity: 0;
  transform: translate3d(0, -50%, 0);
  transition: .3s 0s;
}

.item:hover .description {
  opacity: 1; 
  transition: .6s .3s;
}

// .overlay {
//   position: relative;
//   top: -230px;
//   height: 100%;
//   width: 100%;
//   opacity: 0;
//   transition: 0.5s ease;
//   background-color: $primary-color;
// }

// .project-item:hover 
// .overlay {
//   opacity: 1;
// }


.subhead {
  padding-bottom: 0rem;
}

.icon {
  padding: 2rem 1rem 2rem 1rem;
}

.fa-cog {
  color: $primary-color;
}

.is-primary {
  color: $primary-color !important;
}

.is-spaced {
  padding-bottom: 2rem !important;
}


