//--------Utilities-------//
@import "./helpers/mixins";
@import "./helpers/variables";

//--------Navbar---------//
@import "./components/navigation";

//----------Grids---------//
@import "./layout/grid";

//-------------Responsive-------//
@import "./helpers/mobile";

//-------------Footer-----------//
@import "./layout/footer";

//-------------Forms------------//
@import "./layout/forms";

//--------------Header----------//
@import "./layout/header";

//------------Portfolio-----------//
@import "./pages/portfolio";

*,
*:before, 
*:after {
    box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}


body {
  color: #141c3a;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  background-color: $secondary-color;
}

body,
button, 
input, 
select, 
textarea {
  font-family: 'Raleway', sans-serif;;
}

a {
  text-decoration: none;
  font-weight: 400;
}

ul {
  list-style-type: none;
}


@media only screen and (max-width: 460px) {
  body {
    width: 400px;
  }
}

//--------------------------- Preloader -----------------------------//
.preloader {
  @include easeOut;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 3;
  
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

//-------------------Hero Section-----------------//

.hero{
  width: 100%;
  height: 100vh;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $secondary-color;
  z-index: -1;
}

@function stars($n) {
  $value: '#{random(2000)}px #{random(2000)}px #767676';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #767676';
  }
  @return unquote($value);
}

$stars-small: stars(700);
$stars-medium: stars(200);
$stars-big: stars(100);

.stars {
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: opacity 1s ease-in-out;
}

.stars > .small {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $stars-small;
  animation: starsAnimation 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $stars-small;
  }
}

.stars > .medium {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $stars-medium;
  animation: starsAnimation 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars-medium;
  }
}

.stars > .big {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $stars-big;
  border-radius: 100%;
  animation: starsAnimation 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $stars-big;
    border-radius: 100%;
  }
}

@keyframes starsAnimation {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
  
  h1 {
    font-size: 8em !important;
    padding-bottom: 0.2;
  }

  h2 {
    font-size: 1.5em; 
  }
}

.intro {
  text-align: center;
  color: white;
}
//-----------------------Technology Stack ----------------------//

.stack {
  padding: 2rem;
  margin-top: -15rem;
}

.stack-container {
  width: 84vw;
  height: 100vh;
  margin-left: 5rem;
  display: flex;
  border: 2px solid white;
  border-radius: 12px;
  z-index: 2;
  background-color: white;
  color: $secondary-color;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.box {
  padding: 2rem;
  text-align: center;
  border: 1px solid #f2f5fb;
  border-radius: 12px;
  color: #141c3a;

  p,
  ul {
    color: #454c63;
    font-weight: 400;
    font-size: 18px;
  }

  h2,
  p,
  ul {
    padding-bottom: 1rem;
  }
}

//-------------------------Projects---------------------//


.projects {
  padding: 2%;
  width: 100%;
  // height: 50vh;
  margin-top: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto; 

  .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1); 
  
    .card:nth-child(1) .box .content a {
      background: #2196f3;
    }
    .card:nth-child(2) .box .content a {
      background: #e91e63;
    }
    .card:nth-child(3) .box .content a {
      background: #23c186;
    }
  }

  .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;

    .box:hover {
      transform: translateY(-50px);
    }

    .box:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: rgba(255, 255, 255, 0.03);
    }
    .content {
      padding: 20px;
      text-align: center;

      h2 {
        position: absolute;
        top: -10px;
        right: 30px;
        font-size: 8rem;
        color: rgba(255, 255, 255, 0.1);
      }
      h3 {
        font-size: 1.8rem;
        color: #fff;
        z-index: 1;
        transition: 0.5s;
        margin-bottom: 15px;
      }
      p {
        font-size: 1rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.9);
        z-index: 1;
        transition: 0.5s;
      }
      a {
        position: relative;
        display: inline-block;
        padding: 8px 20px;
        background: black;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        margin-top: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
      }

      a:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
        background: #fff;
        color: #000;
      }
    }
  }
}

.subhead {
  padding-bottom: 0rem;
}

.is-primary {
  color: $primary-color !important;
}

.is-spaced {
  padding-bottom: 2rem !important;
}


