@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  color: #141c3a;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
}

body,
button, 
input, 
select, 
textarea {
  font-family: 'Raleway', sans-serif;;
}

a {
  color: $link-color ;
  text-decoration: none;
  font-weight: 400;
}

ul {
  list-style-type: none;
}

//--------------------------- Preloader -----------------------------//
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999;
  @include easeOut;
}

.hide-preloader {
  z-index: -999;
  visibility: hidden;
}

//------------------------------Navigation bar------------------------//
.navbar {
  background-color: white;
  width: 100%;
  padding: 18px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  border-top: 4px solid $link-color;
}

.nav-item:nth-child(1){
  margin-left: 30%;
}

.btn {
  padding: 12px;
  border: 1px solid white;
  border-radius: 30px;
  background: $link-color;
  color: white;
  @include easeOut;
}

.btn:hover {
  background-color: #5a8110;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.hero-section {
  width: 100vw;
  height: 130vh;
  background: $secondary-color;
}

.hero-content {
  position: absolute;
  top: 40%;
  left: 5%;
  color: white;
  
  h1 {
    font-size: 8em !important;
    padding-bottom: 0.2;
  }

  h2 {
    font-size: 1.5em; 
  }
}

.stack {
  padding: 2rem;
  margin-top: -15rem;
}

.stack-container {
  width: 84vw;
  height: 120vh;
  margin-left: 5rem;
  display: flex;
  border: 2px solid white;
  border-radius: 12px;
  z-index: 2;
  background-color: white;
  color: $secondary-color;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.box {
  padding: 2rem;
  text-align: center;
  border: 1px solid #f2f5fb;
  border-radius: 12px;
  color: #141c3a;

  p,
  ul {
    color: #454c63;
    font-weight: 400;
    font-size: 18px;
  }

  h2,
  p,
  ul {
    padding-bottom: 1rem;
  }
}

.project-container {
  padding: 5%;
  text-align: center;
}

.project-grid {
  width: 80vw;
  height: 85vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2px;
  row-gap: 2px;
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: relative;
  top: -230px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: $primary-color;
}

.project-item:hover 
.overlay {
  opacity: 1;
}


.subhead {
  padding-bottom: 0rem;
}

.icon {
  padding: 2rem 1rem 2rem 1rem;
}

.fa-cog {
  color: $primary-color;
}

.is-primary {
  color: $primary-color !important;
}

.is-spaced {
  padding-bottom: 2rem !important;
}

@import "mobile";
