@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $primary-text;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    font-family: "Noto Sans",sans-serif;
    line-height: 1.5;
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  background: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  width: 30rem;
  padding: 22px;
  list-style: none;
  float: right;
  display: flex;
  margin-right: 40px; 
  justify-content: space-between;
}

.text-secondary {
  color: $primary-text;
}

main {
  padding: 4rem;
  margin-top: 45px;
  //  height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    position: fixed;
    top: 0; 
    
    a {
      padding: 0.4rem;

      &:hover {
        color: $primary-text;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.hero-inner {
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 font-family: "Playfair Display",serif;
 text-align: left;
 background: #fff;
}



@import "mobile";
