<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {# <link rel="stylesheet" href="css/custom.css" /> #}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap" rel="stylesheet"> 
    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/0f59d56030.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>{{ title }}}</title>  
</head>
<body>
  <header>
    <nav>
    <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
    </div>
    <div class="logo">
      <a class="navbar-brand" href="#">
        <img class="logo-img" src="./img/logo.png" alt="website logo">
      </a>
    </div>
    <div>
        <ul class="menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="projects.html">Projects</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
  </nav>      
  </header>
  {{ content }}
  <footer>
    <div class="container-fluid bg-black">
        <p>Check me out</p>
        <div class="row">
            <div class="col-sm offset-md-3">
                <ul class="social-network social-circle">
                <li><a class="icoLinkedin" href="https://www.linkedin.com/in/nikhil-yadav-6174k/" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="icoTwitter" href="https://twitter.com/nickelyadev" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a class="icoGithub" href="https://github.com/nickel-yadav" title="Github"><i class="fa fa-github"></i></a></li>
                </ul> 
            </div>
        </div>
        <div class="row mt-5">
            <div class="col offset-md-3">
                <p class="text-white">
                Handcrafted by me <span>&#169;</span> <span>2021</span> 
                </p>
            </div>
        </div> 
    </div>
  </footer>
</body>
</html>