* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------- Typography-------------*/
h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    padding: 10px;
    margin-left: 45px;
    margin-top: 70px;
}

p {
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    padding: 20px;
    margin-left: 30px;
    opacity: 0.8;
}

/*---------------Buttons----------------*/
button {
    padding: 15px 30px;
    border-radius: 50px;
    border: 1px solid white;
    position: relative;
    top: 20px;
    left: 45px; 
    background-color: white;
}

/*---------------Vector Graphics-------------*/
svg {
    position: relative;
    top: 45px;
    left: 45px;
}


/*--------------Card container---------------*/
.container {
    flex: 1 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    display: flex;
    height: 30rem;
    width: 55rem;
    border-radius: 10px;
    overflow: hidden;
}


/*----------------Card item typography--------------*/
.item {
    color: #fff;
    text-align: left;
    font-family: 'Bebas Neue', cursive;
}

/*--------------Card item styling-----------*/
.sedans {
    background-color: #e28525;
}

.sedans > button {
    color: #e28525; 
}

.suv {
    background-color: #016972;
}

.suv > button {
    color:#016972;
}

.luxury {
    background-color:#00403f;
}

.luxury > button {
    color: #00403f;
}

/*---------Attribution to the source of challenge------------*/
.attribution {
    font-family: 'Questrial', sans-serif;
    position: fixed;
    bottom: 0;
    right: 0;
}

/*---------------Responsive mobile styling-------------*/

@media (max-width: 790px) {
      
    .container {
        height: 85rem ;
        width: 90vw;
        margin-top: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .item {
        flex-grow: 1;
    }

    .attribution {
        height: 2rem;
        padding: 2px;
        margin-bottom: 2px;
        position: absolute;
        top: 92rem;
        right: 2rem;
    }
}
 
