img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 12px;
  }

.portfolio {
    width: 100%;
}

.tabs {
    width: 50em;
    margin: auto;
}

.category {
    padding: 1em;
}

.tab {
    padding: 0.5em;
    margin: 1%;
    border: none;
    background-color: white;
    border-bottom: 2px double black;
    font-size: 1.2em;
}

.tech {
    padding-bottom: 1em;
}

.miniskills {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 2em;
    position: relative;
    top: 10%;

    .container {
        width: 65em;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 1rem;
    }
}

.card {
    color: white;
    border-radius: 12px;
    position: relative;
    height: 19rem;
    overflow-y: hidden;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    
    h3 {
        margin: 0;
        display: block;
        background-color: #5885AF;
        padding: 1rem;
    }
    
    a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        
        &:hover,
        &:focus {
            ~ .card_overlay {
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.card_overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 50%;
    transition: transform 300ms;
    background-color: lighten(#5885AF, 15%);
    transform: translate3d(0, calc(50% - 3.5rem), 0);
  }
  
  .card_body {
    flex-grow: 1;
    padding: 1rem;
    
    p {
      margin: 0;
    }
  }

