* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    padding: 10px;
    margin-top: 90px;
}

p {
    padding: 10px;
}


.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    display: flex;
    border-radius: 10px;
    height: 28rem;
    width: 60rem;
}

.item {
    flex-grow: 1;
    color: #fff;
    text-align: left;
    padding: 10px;
    line-height: 1;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

.sedans {
    background-color: rgba(224, 140, 30, 0.972)
}

.suv {
    background-color: rgb(47, 8, 155)
}

.luxury {
    background-color: rgb(51, 133, 62);
}