.footer {
    width: 100%;
    background-color: black;
    color: white;
}

.footer-container {
    width: 80%;
    margin: auto;
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-box {
    width: 40%;
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.item {
    width: 10em;
    height: 8em;
}

.item > h3:after{
    content: "";
    display: block;
    width: 8em;
    height: 1px;
    background-color: white;
    margin-top: 0.8em;
    margin-bottom: 1em;
}

.social-media {
    display: flex;
    justify-content: space-between;

    .fa-cog {
        color: white;
      }
}