.links-container {
    background-color: white;
    width: 100%;
    padding: 2px;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
    border-top: 4px solid $link-color;

  }
  
  .nav-item:nth-child(2){
    margin-left: 2%;
  }

  .nav-item:nth-child(1) {
    margin-left: 7%;
    padding-right: 10em;
  }

  .nav-item:nth-child(7) {
    padding-left: 10em;
  }

  .fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $white;
    box-shadow: $light-shadow;
  }

  .logo {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }

  .nav-toggle {
    visibility: hidden;
  }


  