.navbar {
  width: 65em;
  height: 6em;
  color: white !important;
  margin: auto;
  display: flex;
  justify-content: space-around;

  .nav-logo {
    flex-grow: 1;
    padding-top: 0.8em;
  }

  .logo {
    width: 5em;
    height: 5em;
  }

  .links-container {
    list-style: none;
    font-size: 1.1em;
    width: 40em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav-link {
      color: white !important;
    }
  }
}

.social {
  display: flex;
  justify-content: space-around;
  width: 10em;

  .fa-cog {
    color: white;
  }
}

.nav-toggle {
  visibility: hidden;
}
  
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $white;
  box-shadow: $light-shadow;
}