
*:before, 
*:after {
    box-sizing: border-box;
}

.bg-black {
  background-color: black;
}

/* ==================== Navbar ===================== */

.logo {
  position: fixed;
  float: left;
  margin: 0px 45px;
}

.logo-img {
  width: 80px;
  height: 80px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background-color: black;
  color: white;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 0.5s;
  overflow: hidden;
}

nav.black ul {
  background: #000;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

nav ul li a:hover {
  color: grey;
  text-decoration: none;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {

  .logo {
    position: fixed;
    top: 0;
    left: 0;
  }

  .logo-img {
    width: 50px;
    height: 50px;
  }

  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }

}

/* ===================== Jumbotron ====================== */
.jumbotron {
  position: relative;
  top: 5.5em;
  z-index: -1;
  background-color: #7510f7;
  color: white;
}

@media(max-width: 786px) {
  .jumbotron {
    position: relative;
    top: 3.8em;
  }
}

.wrapper {
  padding: 0px;
  width: 20em;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.roles {
    font-size: 30px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
}

.roles div {
    height: 50px;
    transition: margin-top 1s ease-in-out;
}

/* ===================== Text ====================== */
.open-sans {
font-family: 'Open Sans', sans-serif;
font-size: 1.1em;
}

/* ===================== Stack ====================== */
.stack {
  z-index: 1;
  position: relative;
  top: -6em;
}

/*=================== Footer ======================*/

 * {
  margin: 0;
  padding: 0;
}

/* footer social icons */
.footer {
  background-color: #FAFCFF;
  padding: 20px 0;
  text-align: center;
}

ul.social-network {
  list-style: none;
  display: inline;
  margin: auto;
}
ul.social-network li {
  display: inline;
  margin: 0 10px;
}

/* footer social icons */

.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}

.social-network a.icoGithub:hover {
  background-color: black;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 22px;
}

.social-circle li i {
  margin: 0;
  line-height: 60px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-circle a {
  background-color: #CCD8EA;
}

@media screen and (max-width: 500px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
}
@media screen and (max-width: 450px) {
  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }

  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  ul.social-network li {
    display: inline;
    margin: 0 2px;
  }

  .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  .social-circle li i {
    margin: 0;
    line-height: 40px;
    text-align: center;
  }
}

/* ========================== About ============================= */

#about-container {
  height: 100%;
  width: 900px;
  margin: 15% auto;
  position: relative;
}

#background {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  background: #FF7A6C;
  -webkit-clip-path: polygon(52% 0, 100% 0, 100% 100%, 0% 100%);
clip-path: polygon(52% 0, 100% 0, 100% 100%, 0% 100%);
  z-index: -1;
}

/* .about-box {
  width: 45em;
  height: 30em;
  border: 1px solid black;
  box-shadow: 4px 10px 20px rgba(#373449, .4);
} */

.about-box::before {
  content: "";
  margin: -35px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(20px);
  z-index: -1;
}


/* ===================== Contact ============================ */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  margin-top: 7em;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    margin-top: 7em;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

/* ========================= Projects =============================== */

