---
title: home
layout: base.njk
---

<main>
 <section class="stack">
        <div class="container">
          <div class="row no-gutters">
            <div class="col-sm">
              <div class="card text-center border-light mb-3">
                <div class="card-header bg-transparent border-light">
                  <div class="icon">
                    <i class="far fa-edit fa-3x fa-cog"></i>
                  </div>
                </div>
                <div class="card-body">
                  <h2>Designer</h2>
                  <p class="is-spaced">I embrace minimalistic design with emphasis on content that shines</p>
                  <h5 class="is-primary">Things I love to design</h5>
                  <p>Web, Mobile, Apps, UI, UX, Logos</p>
                  <h5 class="is-primary">Design tools</h5>
                  <ul>
                    <li>Figma</li>
                    <li>Sketch</li>
                    <li>Webflow</li>
                    <li>Pen &amp; paper</li>
                    <li>Invision</li>
                    <li>Framer</li>
                  </ul>
                </div>   
              </div>
            </div>
            <div class="col-sm">
              <div class="card text-center border-light mb-3">
                <div class="card-header bg-transparent border-light">
                  <div class="icon">
                    <i class="fab fa-react fa-3x fa-cog"></i>
                  </div>
                </div>
                <div class="card-body">
                  <h2 class="card-title">Frontend Developer</h2>
                  <p class="card-text">I like to code highly accessible and visually engaging websites from scratch</p>
                  <h5 class="card-subtitle">Languages I speak</h5>
                </div>
                <ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JAVASCRIPT</li>
                  <li>SASS</li>
                  <li>REACT</li>
                </ul>
                <h5>Development Tools</h5>
                <ul>
                  <li>BOOTSTRAP</li>
                  <li>VS CODE</li>
                  <li>GITHUB</li>
                  <li>TERMINAL</li>
                  <li>CODEKIT</li>
                  <li>FIREFOX</li>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="card text-center border-light">
                <div class="card-header bg-transparent border-light">
                  <div class="icon">
                    <i class="far fa-file-code fa-3x fa-cog"></i>
                  </div> 
                </div>
                <div class="card-body">
                  <h2>Backend Developer</h2>
                  <p class="is-spaced">Writing clean code and eliminating bugs with extreme prejudice</p>
                  <h5 class="is-primary">Languages I speak</h5>
                  <ul>
                    <li>JAVA</li>
                    <li>NODE.JS</li>
                    <li>MYSQL</li>
                    <li>POSTGRESQL</li>
                    <li>MONGODB</li>
                  </ul>
                  <h5 class="is-primary">Technologies</h5>
                  <ul>
                    <li>LINUX</li>
                    <li>EXPRESS.JS</li>
                    <li>DOCKER</li>
                    <li>FIREBASE</li>
                    <li>REST</li>
                  </ul>
                </div> 
              </div>
            </div>
          </div> 
        </div>
      </section>            
      <section>
        <div class="container">
          <h2 class="text-center">My recent projects</h2>
          <div class="row">
            <div class="col-sm">
              <div class="card">
                <img src="https://images.unsplash.com/photo-1549301610-d34372d745a7?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8cm5TS0RId3dZVWt8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <img src="https://images.unsplash.com/photo-1549301610-d34372d745a7?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8cm5TS0RId3dZVWt8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                <img src="https://images.unsplash.com/photo-1549301610-d34372d745a7?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8cm5TS0RId3dZVWt8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    <main>
    <script src="assets/app.js"></script>
  </body>
</html>
